@font-face {
  font-family: "Oswald";
  src: url("../assets/font/Oswald.ttf") format("truetype");
}

@font-face {
  font-family: "FiraCode";
  src: url("../assets/font/FiraCode.ttf") format("truetype");
}

@font-face {
  font-family: "SamsungSansBold";
  src: url("../assets/font/SamsungSansBold.ttf") format("truetype");
}

:root {
  font-family: "Oswald";
  font-weight: 700;
  font-size: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
mark,
div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
